.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  border: 2px solid white;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
  margin-bottom: 9px;
}

.rangeslider--horizontal {
  box-sizing: border-box;
  height: 20px;
  width: 99.9%;
}

.rangeslider--vertical {
  box-sizing: border-box;
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #3386E3;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  box-sizing: border-box;
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
  background: black;
  border: 3px solid white;
  cursor: pointer;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
 
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rangeslider__handle:active, .rangeslider--active .rangeslider__handle {

}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
